@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #68c8ff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #ffffff;
    margin: 20px 0;
}

.neutralArea {
    width: 450px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #FFF;
}
.item {
    width: 100px;
    height: 100px;
    background-color: #fff454;
    color: #000000;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
.item.dragging {
    opacity: 0.5;
}
.areas {
    width: 450px;
    display: flex;
    margin-top: 20px;
}
.areas.correct .area {
    border: 2px solid #00FF00;
}
.area {
    width: 150px;
    height: 150px;
    border: 2px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover {
    background-color: rgba(0, 0, 0, 0.3);
}
footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}